button, li {
    cursor: pointer;
}
img {
    max-width: 100%;
}

* {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
}
header .logo__wrapper img {
    padding: 23px 330px 25px 111px;
    max-width: 271px;
}
header .nav__items {
    list-style-type: none;
    font-family: Mulish,sans-serif;
    margin-left: 80px;
}
header .nav__items li {
    display: inline-block;
    color: #202020;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    margin-right: 32px;
    transition: color .4s ease;
}
header .nav__items li:hover {
    color: #866a6a;
}
header .nav__items li:last-child {
    color: #CC0000;
    text-transform: uppercase;
    margin-right: 40px;
}
header .nav__items li:last-child:hover {
    color: #ff0000;
    text-shadow: 1px 3px 7px;
}
header .search__btn {
    margin-right: 27.5px;
}





























/*.modal__items {*/
/*}*/

/*.modal__item {*/
/*    !*display: flex;*!*/
/*}*/

/*.modal__item img {*/
/*    width: 64px;*/
/*    height: 64px;*/
/*}*/

/*.modal__btn {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    align-content: flex-end;*/
/*    justify-content: flex-start*/
/*}*/

/*.span {*/
/*    color: red;*/
/*}*/

/*.logo img {*/
/*    position: absolute;*/
/*    width: 271px;*/
/*    height: 32px;*/
/*    left: 111px;*/
/*    top: 23px;*/
/*}*/

/*.nav__item {*/
/*    list-style-type: none;*/
/*    position: absolute;*/
/*    height: 27px;*/
/*    top: 25px;*/
/*    font-family: Mulish, sans-serif;*/
/*    font-style: normal;*/
/*    font-weight: bold;*/
/*    font-size: 21px;*/
/*    line-height: 26px;*/
/*    text-align: center;*/
/*    color: #202020;*/
/*}*/

/*.vikings {*/
/*    width: 74px;*/
/*    left: 712px;*/
/*}*/

/*.Ancient {*/
/*    width: 142px;*/
/*    left: 818px;*/
/*}*/

/*.Celtics {*/
/*    width: 66px;*/
/*    left: 991px;*/
/*}*/

/*.sale {*/
/*    width: 54px;*/
/*    left: 1089px;*/
/*    text-transform: uppercase;*/
/*    color: #CC0000;*/
/*}*/

/*.btn {*/
/*    width: 24px;*/
/*    height: 24px;*/
/*    cursor: pointer;*/
/*}*/

/*.search__btn {*/
/*    position: absolute;*/
/*    left: 1250px;*/
/*    top: 27px;*/
/*}*/

/*.basket__btn {*/
/*    position: absolute;*/
/*    left: 1305px;*/
/*    top: 27px;*/
/*}*/