
.header__img {
    background: url("../../img/Viking1.png") no-repeat center top / cover ;
    height: 88.7vh;
    width: 100%;
}
h1 {
    font-family: "Goudy Bookletter 1911", sans-serif;
    font-weight: 400;
    padding: 297px 0px 24px;
    margin-left: -20px;
    color: #fff;
    text-align: center;
    line-height: 43.53px;
    width: 100%;
    font-size: 32px;
}
.header__text {
    font-family: Mulish,sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    margin-bottom: 33px;
}
.header__text-item{
    color: #6A6B72;
    text-decoration: line-through;
}
.header__btn {
    font-family: Mulish,sans-serif;
    width: 163px;
    height: 48px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #CC0000;
    border: 1px solid #950000;
    box-sizing: border-box;
    box-shadow: inset 0px -2px 2px rgba(32, 32, 32, 0.33);
    border-radius: 4px;
    color: #FFFFFF;
    text-shadow: 0px -1px 0px rgba(32, 32, 32, 0.33);
    margin: 0 auto;
}