
.vikingLeft {
    position: absolute;
    width: 499px;
    height: 520px;
    top: 80px;
    background: linear-gradient(90deg, rgba(20, 25, 37, 0) 0%, #131824 30.57%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.viking {
    position: absolute;
    width: 741px;
    height: 520px;
    left: 324px;
    top: 80px;
}
.vikingRight {
    position: absolute;
    width: 652px;
    height: 520px;
    left: 884px;
    top: 80px;
    background: linear-gradient(90deg, rgba(20, 25, 37, 0) 0%, #131824 30.57%);
}
h1 {
    position: absolute;
    width: 563px;
    height: 88px;
    left: 414px;
    top: 312px;
    font-family: "Goudy Bookletter 1911", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: #FFFFFF;
}
span {
    position: absolute;
    width: 121px;
    height: 21px;
    left: 623px;
    top: 424px;
    font-family: Mulish,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}
.header__btn {
    position: absolute;
    width: 163px;
    height: 48px;
    left: 602px;
    top: 478px;
    right: 22px;
    font-family: Mulish,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #CC0000;
    border: 1px solid #950000;
    box-sizing: border-box;
    box-shadow: inset 0px -2px 2px rgba(32, 32, 32, 0.33);
    border-radius: 4px;
    color: #FFFFFF;
    text-shadow: 0px -1px 0px rgba(32, 32, 32, 0.33);
}